main ul#todos,#instructions,#stats{
    margin: 10px auto;
    width: 40em;
    max-width: 100%;
    padding: 1em;
  }
  
  main ul#todos.priority{
    border: var(--FMauve) 6px solid;
    box-shadow: 3px 12px 8px rgba(0,0,0,0.2);
  }
  
  .completed-task{
    text-decoration: line-through;
  }
  
  .task,.completed-task{
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 4px;
    vertical-align: middle;
  }
  
  .list-item .task-buttons{
    position: absolute;
    top: 10px;
    right: 0;
    display: none;
  }
  
  .list-item:hover .task-buttons{
    display: block;
  }
  
  .date-info{
    padding-left: 12px;
  }
  
  .list-item{
    border-bottom: var(--lightGrey) dotted 1px;
    position: relative;
  }
  
  .list-item:last-child{
    border-bottom: none;
  }
  
  header h1{
    font-size: 96px;
    margin-bottom: -30px;
    margin-top: 0;
  }
  
  footer{
    margin-top: 150px;
  }
  
  .buttons.row, #bottom-buttons{
    max-width: 40em;
    margin: 0 auto;
  }
  
  .buttons button,#stats-button{
    font-size: 1.2em;
    margin: 10px;
    text-transform: uppercase;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  
  .buttons button:hover,#completed-button:hover{
    background: var(--lightGrey) !important;
    color: var(--darkGrey);
  }
  
  #completed-button{
    display: block;
    margin: 0 auto;
  }
  
  #add-task{
    font-size: 1.6em;
    max-width: 22em;
  }
  
  #add-task-button{
    font-size: 1.6em;
  }
  
  .exclamation,.number{
    font-size: 2.4em;
    font-family: var(--heading-font);
    font-weight: bold;
    vertical-align: middle;
  }
  
  .task-buttons select{
    display: inline;
    width: 6.2em;
    text-align: center;
  }
  
  #todos li:first-child .exclamation{
    color: var(--blue) !important;
  }
  
  #todos li:nth-child(2) .exclamation{
    color: var(--green) !important;
  }
  
  #todos li:nth-child(3) .exclamation{
    color: var(--red) !important;
  }
  
  .list-item input[type="checkbox"]{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23949494%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
  
    background-repeat: no-repeat;
    background-position: center left;
  }
  
  .list-item input[type="checkbox"]:checked {
      background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%2359A193%22%20stroke-width%3D%223%22%2F%3E%3Cpath%20fill%3D%22%233EA390%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22%2F%3E%3C%2Fsvg%3E');
      background-repeat: no-repeat;
      background-position: center left;
  }
  
  .draggy{
    opacity: 0.7;
    background: var(--lightBlue);
  }
  
  .draggy .task-buttons{
    display: none;
  }
  
  .over{
    margin-bottom: 20px;
  }
  
  #clear-button{
    cursor: pointer;
    margin: -20px auto 20px;
    width: 40em;
    max-width: 100%;
  }
  
  #clear-button:hover{
    color: var(--blue) !important;
    background: var(--lightBlue);
  }

  @media screen and (max-width: 600px) {
    .buttons button{
      font-size: 1em;
    }
  }

  #stats-button{
    margin: 10px auto;
    display: block;
  }

  #bottom-buttons .tag a{
    color: var(--lightGrey);
  }

  #bottom-buttons .tag:hover{
    background: var(--lightGrey);
  }

  #bottom-buttons .active.tag{
    background: var(--green);
    border-color: var(--green);
  }

  #bottom-buttons .active.tag a{
    color: var(--blue);
    font-weight: bold;
  }

  #bottom-buttons .clear-completed{
    border: none;
    background: none;
    color: var(--darkGrey);
    font-size: 0.8em;
  }

  #bottom-buttons .clear-completed:hover{
    color: var(--red);
  }